@font-face {
	font-family: 'Yagi';
	src: url("{% static 'fonts/DXS Yagi Bold_0.ttf' %}") format("truetype");
	
}

.reg_or_log_form { margin-top: 10%; }

.field { margin: 5% 0; }

span { opacity: 100% !important; }

.reg_or_log {
    display: flex;
    gap: 21%;
    padding-bottom: 5%;
} 

#log {
    text-decoration: none;
    color: #0D0D0D;
    font-weight: bold;
    font-size: 1.6em;
    opacity: 20%;
}

#reg {
    color: #0D0D0D;
    font-weight: bold;
    font-size: 1.6em;
    text-decoration: none;
    opacity: 20%;
}

header {
	padding: 0% 4%;
	height: 65px;
	margin-bottom: 2%;
	display: flex;
	align-items: center;
	background: linear-gradient(to bottom right, rgb(224, 224, 249), #c0c5ef);
}

body, h1 { margin: 0; }

h1 { font-family: 'Yagi'; }

main { margin-top: 5%; }

form { margin: 2% 40%; }

h2 {
    margin-left: 40%;
    font-weight: 500;
}

input {
    border-radius: 10px; 
    padding: 10px;
    width: 80%;
    border: 1px solid #6DCAFF;
    font-size: 1.0em;
}

input:focus {
    border: 1px solid #206fc9;
    outline: none;
}

label { color: #89888f; }

.form { margin-top: 6px; }

.but_back {
    color:#206fc9;
    background-color: white;
    border: 1px solid #CACACA;
    border-radius: 18px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 30px;
    margin-left: 2%;
}


.but_save, .auth_but {
    margin-left: 8%;
    width: 7.5em;
    color:#206fc9;
    background-color: white;
    border: 1px solid #206fc9;
    border-radius: 20px;
    font-weight: bold;
    box-shadow: #b4ceec 3px 3px 10px 0;
}

.buttons {
    display: flex;
    margin-top: 15%;
}

.password_btn, .password_1_btn_reg, .password_2_btn_reg {
    position: absolute;
    right: 43%;
    border: none;
    background-clip: content-box;
}

.password_btn { top: 39%; }
.password_1_btn_reg { top: 62%; }
.password_2_btn_reg { top: 69%; }

.but_save:not(:disabled):active {
    box-shadow: #b4ceec 0 0 0;
}

.but_back:not(:disabled):active {
    border: 1px solid #206fc9;
}

.but_back:hover, .but_save:hover, .auth_but:hover {
	transform: scale(1.05);
}

.form_edit { margin: 1% 0 7% 0; }

.date { margin: 3% 0 7% 0; }

.main_edit { margin-top: 3%; }