@font-face {
	font-family: 'Yagi';
	src: url("{% static 'fonts/DXS Yagi Bold_0.ttf' %}") format("truetype");
	
}

header {
	padding: 0% 4%;
	height: 65px;
	margin-bottom: 2%;
	display: flex;
	align-items: center;
	justify-content: space-between;	
	background: linear-gradient(to bottom right, rgb(224, 224, 249), #c0c5ef);
}

li {
	list-style-type: none;
	margin-right: 1%;
}

.logout {
	color: black;
	text-decoration: none;
	background-color: white;
	border: 1px solid black;
	border-radius: 18px;
	padding: 4px 14px;
	font-size: 0.9em;
	margin-left: 12%;
}

.logout:hover {
	border: 1px solid #6DCAFF;
}

.username {
	font-size: 1.3em;
	font-weight: 600;
	color: #206fc9;
	text-decoration: none;
}

body, h1 { margin: 0; }

h1 {
	vertical-align: middle;
	font-family: 'Yagi';
	font-size: 2.5em;
}

span {
	font-weight: 600;
	font-size: 1.2em;
	color: #6DCAFF;
}

.items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 2% 4% 4%;

}

.count_and_add {
	display: flex;
	align-content: center;
	margin: 0% 4%;
	gap: 60px;
}

.count {
	margin: 0;
	padding: 7px 0px;
	font-size: 1.1em;
}

.add_item_but {
	padding: 8px 20px;
	box-shadow: #a6c8ee 4px 4px 10px 0;
	border-radius: 8px;
	background-color: #8fbaff;
	color: white;
	font-size: 1.1em;
	text-decoration: none;
}

.add_item_but:not(:disabled):hover {
	transform: scale(1.02);
}

.add_item_but:not(:disabled):hover:active {
	box-shadow: #a6c8ee 0 0 0 0;
}

.but_change_del, .step-links {
	display: flex;
	justify-content: space-between;
}

.item {
	padding: 15px;
	border: 1px solid #6DCAFF;
	border-radius: 10px;
	width: 25%;
	margin-bottom: 2%;
	background-color: rgb(241, 241, 252);
}

.item:not(:disabled):hover {
	border: 1px solid #206fc9;
}

.cost {
	font-size: 1.3em;
	color:#6DCAFF;
	font-weight: 600;
}


.entry {
    width: 7.5em;
    height: 2.2em;
    color:#206fc9;
    background-color: white;
    border: 1px solid #CACACA;
    border-radius: 18px;
    font-weight: bold;
}

.change_but {
	padding: 4px 10px;
	color:#206fc9;
	text-decoration: none;
	background-color: white;
    border: 1px solid #CACACA;
    border-radius: 18px;
}

.add_to_basket_but {
	color: #206fc9;
	text-decoration: none;
	background-color: white;
	border: 1px solid #206fc9;
    box-shadow: #b4ceec 3px 3px 10px 0;
    border-radius: 18px;
	padding: 4px 14px;
	font-size: 0.9em;
	font-weight: bold;
}


.entry:hover, .change_but:hover, .add_to_basket_but:hover {
	transform: scale(1.05);
}

.change_but:not(:disabled):hover:active {
	box-shadow: #a6c8ee 0 0 0 0;
} 

main { margin-bottom: 3%; }

.page-link {
	text-decoration: none;
	color: black;
}

ul { list-style-type: none; }

ul.pagination {
	display: flex;
	gap: 2%;
}

#active { color:#6DCAFF; }

.hand:hover, #notactive:hover { color: #7eaefd; }


#delete_but {
	border: none;
	background-clip: content-box;
	position: relative;
    left: 525%;
    bottom: 550%;
    margin: 0;
}

#basket, #orders {
	border: none;
	background-clip: content-box;
	background-color: transparent;
}

#basket {
	position: absolute;
    right: 30%;
}

#orders {
	position: absolute;
    right: 25%;
}




