<!doctype html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/styles_change_and_add.css' %}">
    <title>BOOKSTORE</title>
  </head>
  <body style="font-family: sans-serif">
    <header>
        <h1>Add the product</h1>
    </header>
    <main>
        <h2>Заполни карточку книги</h2>
        <form method="POST">
          {% csrf_token %}
          <label>Введите название</label>
          <p class="form"><input name="name" type="text" /></p>
          <label>Введите автора</label>
          <p class="form"><input name="author" type="text" /></p>
          <label>Введите cтоимость</label>
          <p class="form"><input name="cost" type="number" /></p>
          <label>Введите жанр</label>
          <p class="form"><input name="genre" type="text" /></p>
          <div class="buttons">
            <a href="{% url 'home' %}" class="but_back">Назад</a>
            <input type="submit" class="but_save" value="Сохранить" >
          </div> 
      </form>
    </main>
  </body>
</html>