<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>BOOKSTORE</title>
  </head>
  <body style="font-family: sans-serif">
    <header>
        <h1>Book catalog</h1>
    </header>
    <main>
        <h3>{{ count }} элементов на странице</h3>

        <a href="{% url 'add_item' %}">Добавить новый элемент</a>
        
        {% for book in all_books %}
        <p style="line-height: 0.5; font-size: 1.5rem">{{ book.name }}</p>
        <p style="line-height: 0.5">{{ book.author }}</p>
        <p style="line-height: 0.5">{{ book.cost }}</p>
        <p style="line-height: 0.5">{{ book.genre }}</p>

        <a href="{% url 'change_item' book.id %}">Изменить</a>

        <form action="{% url 'delete_item' book.id %}" method="post" onsubmit="return confirm('Вы уверены, что хотите удалить этот элемент?');">
          {% csrf_token %}
          <button type="submit">Удалить</button>
        </form>

        <hr>
        {% endfor %}
    </main>
  </body>
</html>