<!doctype html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>BOOKSTORE</title>
  </head>
  <body style="font-family: sans-serif">
    <header>
        <h1>Изменить товар</h1>
    </header>
    <main>
        <h3>Название товара {{ book.name }}</h3>
        <form method="POST">
          {% csrf_token %}
          <p>
              <label>Название</label><br>
              {{ form.name }}
          </p>
          <p>
              <label>Автор</label><br>
              {{ form.author }}
          </p>
          <p>
            <label>Стоимость</label><br>
              {{ form.cost }}
          </p>
          <p>
            <label>Жанр</label><br>
              {{ form.genre }}            
          </p>
          <input type="submit" value="Сохранить" >
      </form>
        <a href="{% url 'home' %}">Назад</a>
        <a href="{% url 'home' %}">Изменить</a>
    </main>
  </body>
</html>