<!DOCTYPE html>
{% load static %}
<html lang="ru">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <link rel="stylesheet" href="{% static 'css/styles_basket.css' %}">
      <title>BOOKSTORE</title>
  </head>
  <body style="font-family: sans-serif">
    <header>
      <h1>Orders</h1>
      {% if user.is_authenticated %}
      <li> <a href="{% url 'profile' %}" class="username">{{ user.username }}</a><a href="{% url 'logout' %}" class="logout">Выйти</a></li>
      {% else %}
      <button type="submit" class="entry" onclick="window.location.href='{% url 'login' %}';">Войти</button>
      {% endif %}
    </header>
    <main>
      
      <div class="cart_items">
        <a href="{% url 'home' %}" class="back_home">← Продолжить покупки</a>
        <h2>Ваши заказы</h2>
        {% for order in orders %}
        <div class="cart_item">
            <div class="order_about">
              <p class="name_order">Заказ {{ order.id }}</p>
              <p class="date"><span class="grey_color_order">Дата оформления заказа:</span> {{ order.created_at }}</p>
              <p class="price"><span class="grey_color_order">Сумма заказа:</span> <span class="blue_color_price">{{ order.total_price }} ₽</span></p>
            </div>

            <div>
              {% for item in order.items.all %}
              <div class="cart_item_in_order">
                <p class="name">{{ item.product.name }}</p>
                  <div class="count_but">{{ item.quantity }} шт.</div>
                  <p class="cost">{{ item.total_price }} ₽</p>
              </div>
              {% endfor %}
            </div>
        </div>
        {% empty %}
        <p>Доставок пока нет</p>
        {% endfor %}
      </div>

    </main>
  </body>
</html>